* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

.header {
  padding: .5rem 0 1rem 0;
  position: fixed;
  top: 0;
  background: white;
  width: 100vw;
}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  padding: .3rem .4rem;
  margin-right: 1rem;
  width: 200px;
}

.input__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.input__btn {
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: black;
  padding: .5rem 1.5rem;
}

.weather__icon {
  width: 80px;
}

.weather__title {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}

.weather__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 112px;
}

.weather__temp {
  font-size: 30px;
  font-weight: 300;
}

.weatherAll {
  margin-top: 110px;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  padding: 0 2rem;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.more__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  height: 65px;
}

.more-active {
  height: 60px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.329);
}

.feelsLike__title, .humidity__title {
  font-size: 12px;
}

.warning {
  text-align: center;
  margin: .5rem 0 1rem 0;
}

@media (min-width: 700px) {
  .weather {
    width: 400px;
    margin: .5rem;
  }
  .weatherAll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .more {
    height: 60px;
    padding-bottom: 16px;
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */