* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.input {
  margin-right: 0.5rem;
}

.weather {
  
  // background-color: #ecebe6;
  
  &__icon {
    width: 80px;
  }
  &__title {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
  }
  &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        transition: height 0.3s;
  }
  &__temp {
      font-size: 30px;
      font-weight: 300;
    }
}

.more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0;
    padding: 0 2rem;
    overflow: hidden;
    transition: all .3s;

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        height: 65px;
      
    }
    }

.more-active{
    height: 65px;
}

.feelsLike__title, .humidity__title{
  font-size: 12px;
}