* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace;
}



.header {
  padding: .5rem 0 1rem 0;
  position: fixed;
  top: 0;
  background: white;
  width: 100vw;
}

.title{
  text-align: center;
  font-weight: 300;
  font-size: 20px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  padding: .3rem .4rem;
 margin-right: 1rem;
 width: 200px;
 &__box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
 }
 &__btn{
   border: none;
   text-transform: uppercase;
   color: white;
   background-color: black;
   padding: .5rem 1.5rem;
  }
}

.weather { 
  &__icon {
    width: 80px;
  }
  &__title {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
  }
  &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        transition: height 0.3s;
        height: 112px;
  }
  &__temp {
      font-size: 30px;
      font-weight: 300;
    }
}
.weatherAll{
  margin-top: 110px;
}
.more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0;
    padding: 0 2rem;
    overflow: hidden;
    transition: all .3s;

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        height: 65px;
    }
    }

.more-active{
    height: 60px;
    padding-bottom: 16px;
    border-bottom:1px solid rgba(0, 0, 0, 0.329);
  }

  .feelsLike__title, .humidity__title{
    font-size: 12px;
  }
  
  .warning{
    text-align: center;
    margin: .5rem 0 1rem 0;
  }
  
  @media(min-width: 700px){
    .weather{
    width: 400px;
    margin: .5rem;
  }
  .weatherAll{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .more{
    height: 60px;
    padding-bottom: 16px;
    border: none;
  }
}
//   @media(min-width: 992px){
//     .weather{
//     width: 30%;
//   }
// }